:root{
  --text-color: hsl(0, 0%, 100%) !important;
  --background-color: hsl(207, 26%, 17%) !important;
  --elements-color: hsl(209, 23%, 22%) !important;
}

*{
  box-shadow: none !important;
}

.back-btn img{
  content: url("/white-left-arrow.svg");
}