@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import url('./css/reset.css');
@import url('./css/slider.css');


:root{
  --dark-mode-elements-color: hsl(209, 23%, 22%);
  --dark-mode-background-color: hsl(207, 26%, 17%);
  --light-mode-text-color: hsl(200, 15%, 8%);
  --light-mode-background-color: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --dark-mode-text-and-light-mode-elements: hsl(0, 0%, 100%);
}

body{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  background-color: var(--light-mode-background-color);
}

.inactive{
  display: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  margin-bottom: 35px;
  box-shadow: 1px 3px 6px 0px rgba(115, 115, 115, 0.15);
}

header h1{
  font-size: inherit;
}

main{
  padding: 0 25px;
}


/* search-box */
.main__header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-box{
  min-width: 250px;
  max-width: 400px;
  width: 100%;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: 1px 3px 6px 0px rgba(115, 115, 115, 0.15);
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.search-box img{
  width: 20px;
  margin-right: 25px;
}

.search-box input{
  border: none;
  padding: 10px;
  width: 100%;
}


/* Regions selector */
select[name="regions"]{
  border: none;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: 1px 3px 6px 0px rgba(115, 115, 115, 0.15);
  padding: 20px 30px;
}

select[name="regions"]:focus {
  outline:none;
}


.countries-galery{
  margin-top: 50px;
  display: grid;
  gap: 40px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-content: center;
}